---
# Add helm repositories
- name: Add helm repositories
  become: false
  kubernetes.core.helm_repository:
    name: "{{ item.name }}"
    repo_url: "{{ item.url }}"
  with_items: 
    - { name: metallb,      url: https://metallb.github.io/metallb           } # metallb
    - { name: nginx-stable, url: https://helm.nginx.com/stable               } # ingress-nginx controller
    - { name: twuni,        url: https://helm.twun.io                        } # docker-registry
# Install MetalLB
- name: Modify kube-proxy config file to enable strict ARP so we can use MetalLB properly
  become: false
  shell: "kubectl get configmap kube-proxy -n kube-system -o yaml | sed -e 's/strictARP: false/strictARP: true/' | kubectl apply -f - -n kube-system"

- name: Deploy MetalLB chart 
  become: false
  kubernetes.core.helm:
    name: metallb
    chart_ref: metallb/metallb 
    release_namespace: metallb-system
    create_namespace: true

- name: Wait till all pods with namespace metallb-system are ready.
  become: false
  shell: kubectl wait pods --for condition=Ready -n metallb-system --all --timeout=300s

# Install ingress-nginx controller
- name: Deploy ingress-nginx chart 
  become: false
  kubernetes.core.helm:
    name: ingress-nginx
    chart_ref: nginx-stable/nginx-ingress
    release_namespace: ingress
    create_namespace: true
    values: 
      controller:
        hostNetwork: true 

# Deploy metalLB ip address pool
- name: Deploy IP address pool for metalLB 
  become: false
  shell: kubectl create -f /vagrant/deployment/addressPool.yaml
  
# Deploy test deployment with 3 replicas of nginx pod
- name: Deploy deployment.yaml
  become: false
  shell: kubectl create -f /vagrant/deployment/nginx-deployment.yaml



#ls  - name: Create directories for TLS certificates
#    become: true
#    shell: "{{ item}}"
#    with_items:
#      - " mkdir -p registry"
#      - " mkdir -p registry/certs"
#      - ' openssl req -x509 -newkey rsa:4096 -days 365 -nodes -sha256 -keyout registry/certs/tls.key -out registry/certs/tls.crt -subj "/CN=docker-registry" -addext "subjectAltName = DNS:docker-registry"'
#      - ' mkdir -p registry/auth'   
# 
#  - name: Deploy docker registry
#    become: false
#    shell: "{{ item}}"
#    with_items:
#      - 'sudo docker run --rm --entrypoint htpasswd registry:2.6.2 -Bbn username Pa$$w0rd > registry/auth/htpasswd'
#      - 'kubectl create secret tls certs-secret --cert=registry/certs/tls.crt --key=registry/certs/tls.key'
#      - 'kubectl create secret generic auth-secret --from-file=registry/auth/htpasswd'
#      - 'kubectl create -f /vagrant/docker-registry/repository-volume.yaml'
#      - 'kubectl create -f /vagrant/docker-registry/docker-registry-pod.yaml'
#
#  - name: Update /etc/hosts
#    shell: "{{ item}}"
#    with_items:
#      - "echo '10.96.10.10 docker-registry' >> /etc/hosts"
#      - "mkdir -p /etc/docker/certs.d/docker-registry:5000"
#      - "cp registry/certs/tls.crt /etc/docker/certs.d/docker-registry:5000/ca.crt"

  #- name: Create directories for TLS certificates
  #  become: false
  #  shell: "{{ item}}"
  #  with_items:
  #    - "sudo docker login docker-registry:5000 -u username -p Pa$$w0rd"
  #    - "kubectl create secret docker-registry reg-cred-secret --docker-server=docker-registry:5000 --docker-username=username --docker-password=Pa$$w0rd"
