---
- name: Reset Kubernetes component if needed
  when: not kubeadm_ca.stat.exists
  ansible.builtin.shell: kubeadm reset --force 
  register: reset_cluster
  changed_when: reset_cluster.stdout != ""
  args:
    executable: /bin/bash

- name: Pull required containers if needed
  when: reset_cluster is succeeded
  ansible.builtin.shell: kubeadm config images pull
  args:
    executable: /bin/bash
  register: pull

- name: Init Kubernetes cluster if needed
  when: pull is succeeded
  ansible.builtin.shell: |
    kubeadm init \
    --pod-network-cidr=10.244.0.0/16 \
    --apiserver-advertise-address=192.168.56.11
  register: init_cluster
  args:
    executable: /bin/bash

# Setup kubeconfig for vagrant user
- name: Setup kubeconfig for vagrant user 1/4
  ansible.builtin.file:
    path: /home/vagrant/.kube
    state: directory
    mode: '0755'

- name: Check if config already exists 2/4 pt.1
  ansible.builtin.stat:
    path: /home/vagrant/.kube/config
  register: config

- name: Setup kubeconfig for vagrant user 2/4 pt.2
  when: not config.stat.exists
  ansible.builtin.shell: | # when i use ansible.builtin.copy module it fails.
    sudo cp -i /etc/kubernetes/admin.conf \
    /home/vagrant/.kube/config
  args:
    executable: /bin/bash

- name: Setup kubeconfig for vagrant user 3/4
  ansible.builtin.file:
    path: /home/vagrant/.kube/config
    owner: vagrant
    group: vagrant

- name: Setup kubeconfig for vagrant user 4/4 pt.1
  ansible.builtin.lineinfile:
    path: /home/vagrant/.bashrc
    line: KUBECONFIG=/home/vagrant/.kube/config
    owner: vagrant
    group: vagrant
    mode: '0775'
  register: kubeconfig

- name: Setup kubeconfig for vagrant user 4/4 pt.2
  when: kubeconfig is succeeded
  ansible.builtin.shell: source /home/vagrant/.bashrc
  args:
    executable: /bin/bash

# Generate and copy join command
- name: Generate join command
  when: init_cluster is succeeded
  ansible.builtin.shell: kubeadm token create --print-join-command>>/vagrant/join_command
  args:
    executable: /bin/bash

- name: Enable and check kubelet service
  ansible.builtin.service:
    name: kubelet
    daemon_reload: true
    state: started
    enabled: true
  register: started_kubelet

# Add helm repositories
- name: Add helm repositories
  become: false
  kubernetes.core.helm_repository:
    name: projectcalico
    repo_url: https://projectcalico.docs.tigera.io/charts

# Install Calico pod network
- name: Deploy Calico chart
  become: false
  kubernetes.core.helm:
    name: calico
    chart_ref: projectcalico/tigera-operator
    release_namespace: tigera-operator
    create_namespace: true
