---
- name: Check if kubeadm has already run
  ansible.builtin.stat:
    path: "/etc/kubernetes/pki/ca.key"
  register: kubeadm_ca

- name: Init cluster if needed
  include_tasks: init.yml
  when: not kubeadm_ca.stat.exists

- name: Enable and check kubelet service
  ansible.builtin.service:
    name: kubelet
    daemon_reload: true
    state: started
    enabled: true
  register: started_kubelet
  
# Add helm repositories
- name: Add helm repositories
  become: false
  kubernetes.core.helm_repository:
    name: projectcalico
    repo_url: https://projectcalico.docs.tigera.io/charts

# Install Calico pod network
- name: Deploy Calico chart
  become: false
  kubernetes.core.helm:
    name: calico
    chart_ref: projectcalico/tigera-operator
    release_namespace: tigera-operator
    create_namespace: true
