---
- hosts: all
  become: true
  gather_facts: no
  tasks: 
  - name: Pull required containers
    shell: kubeadm config images pull

  - name: Initialize kubernetes cluster
    shell: kubeadm init --pod-network-cidr=10.244.0.0/16 --apiserver-advertise-address=192.168.56.11 

  - name: Setup kubeconfig for vagrant user
    shell: "{{ item }}"
    with_items:
      - mkdir -p /home/vagrant/.kube
      - cp -i /etc/kubernetes/admin.conf /home/vagrant/.kube/config
      - chown vagrant:vagrant /home/vagrant/.kube/config
      - export KUBECONFIG=/home/vagrant/.kube/config

  - name: Generate join command
    shell: kubeadm token create --print-join-command
    register: join_command

  - name: Copy join command to local file
    local_action: copy content="{{ join_command.stdout_lines[0] }}" dest="./join-command"

  - name: Install calico pod network
    become: false
    shell: "kubectl apply -f https://raw.githubusercontent.com/projectcalico/calico/v3.24.0/manifests/calico.yaml" # "kubectl apply -f https://github.com/coreos/flannel/raw/master/Documentation/kube-flannel.yml"




  - name: Install Ingress controller
    become: false
    shell: kubectl apply -f https://raw.githubusercontent.com/kubernetes/ingress-nginx/controller-v1.0.0/deploy/static/provider/baremetal/deploy.yaml

  - name: Deploy deployment.yaml
    become: false
    shell: kubectl apply -f /vagrant/deployment/deployment.yaml

  - name: Deploy services.yaml
    become: false
    shell: kubectl apply -f /vagrant/deployment/services.yaml

  - name: Delete default ValidatingWebhookConfiguration 
    become: false
    shell: kubectl delete -A ValidatingWebhookConfiguration ingress-nginx-admission

  - name: Deploy ingress.yaml
    become: false
    shell: kubectl apply -f /vagrant/deployment/ingress.yaml

 #- name: Deploy kubernetes dashboard
 #  become: false
 #  shell: kubectl apply -f https://raw.githubusercontent.com/kubernetes/dashboard/v2.5.0/aio/deploy/recommended.yaml




  - name: Create directories for TLS certificates
    become: false
    shell: "{{ item}}"
    with_items:
      - " mkdir -p registry"
      - " mkdir -p registry/certs"
      - ' openssl req -x509 -newkey rsa:4096 -days 365 -nodes -sha256 -keyout registry/certs/tls.key -out registry/certs/tls.crt -subj "/CN=docker-registry" -addext "subjectAltName = DNS:docker-registry"'
      - ' mkdir -p registry/auth'   
      - 'sudo docker run --rm --entrypoint htpasswd registry:2.6.2 -Bbn username Pa$$w0rd > registry/auth/htpasswd'
      - 'kubectl create secret tls certs-secret --cert=registry/certs/tls.crt --key=registry/certs/tls.key'
      - 'kubectl create secret generic auth-secret --from-file=registry/auth/htpasswd'
      - 'kubectl create -f /vagrant/docker-registry/repository-volume.yaml'
      - 'kubectl create -f /vagrant/docker-registry/docker-registry-pod.yaml'

  - name: Update /etc/hosts
    shell: "{{ item}}"
    with_items:
      - "echo '10.96.10.10 docker-registry' >> /etc/hosts"
      - "mkdir -p /etc/docker/certs.d/docker-registry:5000"
      - "cp registry/certs/tls.crt /etc/docker/certs.d/docker-registry:5000/ca.crt"

  #- name: Create directories for TLS certificates
  #  become: false
  #  shell: "{{ item}}"
  #  with_items:
  #    - "sudo docker login docker-registry:5000 -u username -p Pa$$w0rd"
  #    - "kubectl create secret docker-registry reg-cred-secret --docker-server=docker-registry:5000 --docker-username=username --docker-password=Pa$$w0rd"
