---
- hosts: all
  become: true
  gather_facts: no
  tasks: 
  
  - name: Copy the join command to server location
    copy: src=join-command dest=/tmp/join-command.sh mode=0777

  - name: Join the node to cluster
    shell: sh /tmp/join-command.sh

  - name: Update /etc/hosts
    shell: "{{ item}}"
    with_items:
      - "echo '10.96.10.10 docker-registry' >> /etc/hosts"
      - "mkdir -p /etc/docker/certs.d/docker-registry:5000"
      - "cp /vagrant/ansible/registry/certs/tls.crt /etc/docker/certs.d/docker-registry:5000/ca.crt"