---
- hosts: all
  become: true
  gather_facts: yes
  tasks:
    
  - name: Removing ubuntu-jammy entry in /etc/hosts
    lineinfile:
      path: /etc/hosts
      regexp: '(^.*ubuntu-jammy.*)'
      state: absent

  - name: Updating /etc/hosts file with $HOSTNAME entry
    shell: ADDRESS="$(ip -4 addr show $1 | grep "inet" | head -1 |awk '{print $2}' | cut -d/ -f1)" && sed -e 's/^.*${HOSTNAME).*/${ADDRESS) ${HOSTNAME) ${HOSTNAME).local/' -i /etc/hosts
  
  - name: Pasting IP adresses of hosts and master
    lineinfile:
      dest: /etc/hosts
      line: "{{ item.ip }} {{ item.name }}"
    with_items:
      - { ip: "192.168.56.11",  name: "master-1" }
      - { ip: "192.168.56.101", name: "node-1"   }
      - { ip: "192.168.56.102", name: "node-2"   }
  
  - name: Setting DNS server address to 8.8.8.8 
    lineinfile:
      path: /etc/systemd/resolved.conf
      regexp: "#DNS=" 
      line: "DNS=8.8.8.8"
      state: present

  - name: Restart systemd-resolved
    ansible.builtin.systemd:
      state: restarted
      daemon_reload: yes
      name: systemd-resolved  
  
  - name: Allow 'vagrant' to have passwordless sudo
    lineinfile:
      dest: /etc/sudoers
      line: 'vagrant ALL=(ALL) NOPASSWD: ALL'
      validate: 'visudo -cf %s'

  - name: Disable UFW
    community.general.ufw:
      state: disabled

  - name: Disable SWAP since kubernetes can't work with swap enabled (1/2)
    shell: swapoff -a

  - name: Disable SWAP in fstab since kubernetes can't work with swap enabled (2/2)
    replace:
      path: /etc/fstab
      regexp: '^([^#].*?\sswap\s+sw\s+.*)$'
      replace: '# \1'

  - name: Add the br_netfilter module
    community.general.modprobe:
      name: br_netfilter
      state: present

  - name: Add the overlay module
    community.general.modprobe:
      name: overlay
      state: present

  - name: Enable kernel modules
    lineinfile:
      dest: /etc/modules-load.d/k8s.conf
      create: yes
      line: "{{ item }}"
    with_items:
      - "br_netfilter"
      - "overlay"

  - name: Add kernel modules
    ansible.posix.sysctl:
      name: "{{ item }}"
      value: '1'
      sysctl_set: yes
      state: present
      reload: yes
    with_items:
      - "net.bridge.bridge-nf-call-ip6tables"
      - "net.bridge.bridge-nf-call-iptables"
      - "net.ipv4.ip_forward"

  - name: Install packages that allow apt to be used over HTTPS
    apt:
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg-agent
      - software-properties-common   
  
  - name: Add an apt signing key for Docker
    apt_key:
      url: https://download.docker.com/linux/ubuntu/gpg
      state: present

  - name: Add apt repository for stable version
    apt_repository:
      repo: deb [arch=amd64] https://download.docker.com/linux/ubuntu jammy stable
      state: present

  - name: Install docker and its dependecies
    apt: 
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
#      - docker-ce 
#      - docker-ce-cli 
      - containerd.io
  
#  - name: Configure the Docker daemon in particular to use systemd for the management of the containers cgroups.
#    lineinfile:
#      dest: /etc/docker/daemon.json
#      line: '{ "exec-opts": ["native.cgroupdriver=systemd"], "log-driver": "json-file", "log-opts": { "max-size": "200m" }, "storage-driver": "overlay2" }'
#      create: yes
#
#  - name: Enable docker serivce
#    ansible.builtin.service:
#      name: docker
#      enabled: yes
#
#  - name: Restart docker, also do daemon-reload
#    ansible.builtin.service:
#      name: docker
#      state: restarted
#      daemon_reload: true

  - shell: mkdir -p /etc/containerd && containerd config default>/etc/containerd/config.toml

  - name: Enable containerd serivce
    ansible.builtin.service:
      name: containerd
      enabled: yes

  - name: Restart containerd, also do daemon-reload
    ansible.builtin.service:
      name: containerd
      state: restarted
      daemon_reload: true

  - name: Add an apt signing key for Kubernetes
    apt_key:
      url: https://packages.cloud.google.com/apt/doc/apt-key.gpg
      state: present

  - name: Adding apt repository for Kubernetes
    apt_repository:
      repo: deb https://apt.kubernetes.io/ kubernetes-xenial main
      state: present
      filename: kubernetes.list

  - name: Install Kubernetes binaries
    apt: 
      name: "{{ packages }}"
      state: present
      update_cache: yes
    vars:
      packages:
        - kubelet 
        - kubeadm 
        - kubectl