---
- name: Initial configuration and installation
  hosts: cluster
  become: true
  gather_facts: false
  roles:
    - role: setup
      tags: setup

- name: Docker install
  hosts: cluster
  become: true
  gather_facts: false
  roles:
    - role: docker
      tags: docker

- name: Kubernetes & Helm install
  hosts: cluster
  become: true
  gather_facts: false
  roles:
    - role: k8s
      tags: k8s

- name: Initialize cluster 
  hosts: master
  become: true
  gather_facts: false
  roles:
    - role: cluster-init
      tags: cluster-init

- name: Join nodes to the cluster
  hosts: nodes
  become: true
  gather_facts: false
  roles:
    - role: cluster-join
      tags: cluster-join

- name: Docker-Registry install & Create SSL certificates
  hosts: master
  become: true
  gather_facts: false
  roles:
    - role: docker-registry
      tags: docker-reg

- name: Docker-Registry certs config
  hosts: cluster
  become: true
  gather_facts: false
  roles:
    - role: docker-registry-config
      tags: reg-config

- name: Install MetalLB load balancer on master node
  hosts: master
  become: true
  gather_facts: false
  roles:
    - role: metallb
      tags: metallb

- name: Install ingress-nginx controller on master node
  hosts: master
  become: true
  gather_facts: false
  roles:
    - role: ingress-nginx
      tags: ingress

